
.taskbar{
    display: flex;
    gap: 0.5rem;
    justify-content: center;
    margin-top: -27px;
}

input{
    border: none;
    background: var(--gray-400);
    width: 39.87rem;
    height: 3.377rem;
    border-radius: 8px;
    padding-left: 1rem;
    font-size: 16px;
    
}

input:focus{
    outline: 1px solid var(--blue);
}



button{
    display: flex;
    flex-direction: row;
    width: 6.625rem;
    background: var(--blue-dark);
    border: none;
    border-radius: 8px;
    gap: 0.5rem;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-weight: 700;
    font-size: 16px;

}

button img{
    margin: 0;
    width: 1rem;
    height: 1rem;
}

button:hover{
    background: var(--blue);
}
